button {
  margin-right: 10px;
}

.formBlock {
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  background-color: #222;
}

.add-button {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
}

.container {
  position: relative;
}

.col-sm-12 {
  position: relative;
}
