<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Routes</h2> <button class="btn btn-primary add-button" (click)="addRoute()">Add Route</button>
    </div>
  </div>
  <div class="row" *ngIf="routesForm">

    <form [formGroup]="routesForm">
      <ng-container *ngFor="let route of routes; let i = index">
        <div class="col-sm-12 mt-2 formBlock" [formGroupName]="route.name">
          <div class="row">
            <div class="col-sm-3 mt-2">
              Route Start
            </div>
            <div class="col-sm-9 mt-2">
              <input type="text" class="form-control" [id]="route.start + i" formControlName="start"
                [value]="route.start">
            </div>
            <div class="col-sm-3 mt-2">
              Route End
            </div>
            <div class="col-sm-9 mt-2">
              <input type="text" class="form-control" [id]="route.end + i" formControlName="end" [value]="route.end">
            </div>
            <div class="col-sm-3 mt-2">
              Price
            </div>
            <div class="col-sm-9 mt-2">
              <input type="text" class="form-control" [id]="route.price + i" formControlName="price"
                [value]="route.price">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button (click)="deleteRoute(i);" type="button" class="btn btn-danger ml-2">Delete</button>
            </div>
          </div>
        </div>
      </ng-container>
    </form>
  </div>

  <div class="row mt-5" *ngIf="couponForm">
    <div class="col-sm-12">
      <h2>Coupon Code Rules</h2>
      <form [formGroup]="couponForm">
        <ng-container *ngFor="let coupon of coupons; let i = index">
          <div class="col-sm-12 mt-2 formBlock">
            <div class="row">
              <div class="col-sm-3 mt-2">
                Coupon Entity (Person/Corp/Alliance ID)
              </div>
              <div class="col-sm-7 mt-2">
                <input type="text" class="form-control" [value]="coupon.entityId">
              </div>
              <div class="col-sm-2 mt-2">
                <button (click)="verifyEntity(coupon.entityId);" type="button"
                  class="btn btn-primary ml-2">Verify</button>
              </div>
              <div class="col-sm-12 mt-2">
                Entity Name: {{coupon.entityName}}
              </div>
              <div class="col-sm-3 mt-2">
                Discount Value
              </div>
              <div class="col-sm-9 mt-2">
                <input type="text" class="form-control" [value]="coupon.value">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button (click)="deleteCoupon(coupon);" type="button" class="btn btn-danger ml-2">Delete</button>
              </div>
            </div>
          </div>
        </ng-container>
      </form>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 mt-5">
    <h2>Static Information</h2>
    <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
  </div>
</div>

<div class="row mt-5">
  <div class="col-sm-12">
    <button class="btn btn-primary" (click)="saveAll()">Save All</button>
  </div>
</div>
